.services_box {
	text-align: center;
}
.services_box h3 {
	font-family: "Gotham", sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	background: linear-gradient(130.67deg, #1e74ec 6.5%, #002984 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	margin-top: 2%;
	text-align: center;
}