.servise_section {
    max-width: 80%;
    margin: 0 auto;
}

.title_block {
    width: 60%;
}

.servise_title {
    color: #35417F;
    font-size: 18px;
}

.servise_main_title {
    color: #03115F;
    font-size: 52px;
    font-weight: 700;
    margin: 20px 0;
}

.servise_title_description {
    color: #535670;
    line-height: 20px;
}

.servises_cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.servises_card {
    width: 30%;
    margin: 20px 0;
}


.servises_card img {
    margin: 20px 10px;
    width: 10%;
    height: auto;
}

.servises_card h3 {
    color: #1E74EC;
    font-size: 20px;
    margin: 10px 0;
}

.servises_card p {
    color: #535670;
    font-size: 16px;
}

.all_servise_btn {
    color: #A960AB;
    font-size: 16px;
    font-weight: 600;
    margin: 20px 0;
}


.arrow_right {
    color: #A960AB;
    font-size: 16px;
    font-weight: 600;
    margin: 4px 0 0 20px;
    height: auto;
    width: 25%;
}